body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #010101;
}

#board {
  width: 960px;
  height: 540px;
  
  background-image: url(assets/images/billiard-table.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

h1 {
  color: yellow;
}

.ball {
  background-color: red;
  border-radius: 50%;
  position: absolute;
}